* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #5ab9b9;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section h3 {
  font-size: 32px;
  margin-bottom: 1rem;
}

table {
  background-color: #2c3845;
  border-collapse: separate;
  border-spacing: 3px;
  color: #fff;
}

thead th,
tbody td {
  border: 1px solid #28333f;
  padding: 1rem;
  padding-right: 25px;
}

thead th {
  text-align: left;
  background-color: #202932;
}

tbody tr:nth-of-type(even) {
  background-color: #242e39;
}

tbody:last-child {
  color: #b8c4d2;
  text-align: center;
}

button {
  background-color: #4b908f;
  color: #fff;
  border-radius: 5px;
  padding: 8px;
  border: none;
}

td:not(td:last-child) {
  width: 22.5rem;
  text-align: left;
}
